* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right top, #b2f2bb, #9198e5);

  overflow: hidden;
}

.main {
  position: relative;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.rules {
  top: 5px;
  left: 5px;
  width: 450px;
  border: 10px dotted black;
  padding: 10px;

  display: flex;
  align-items: center;
}

.container {
  height: 500px;
  width: 1000px;
  background: gray;
  margin: 20px auto;
  margin-top: 0px;

  border-radius: 12px;
  border: 10px solid #4031e0;
  box-shadow: inset 0 0 10px blue, 0 0 20px rgba(0, 0, 0, 0.3);
  opacity: 1;
  position: relative;
  cursor: grabbing;

  overflow: hidden;
}

.game_edge {
  position: absolute;
  margin-top: 100px;
  margin-left: 500px;

  width: 550px;
  height: 300px;

  transition: 0s; /* 0s */
  transform: scale(1);
}

.main:hover .game_edge {
  transition-delay: 15s;
  transform: scale(5);
}

.game_edge:hover {
  background-color: #222;
  opacity: 0.9;
  z-index: 500;

  cursor: not-allowed;
}

.edge {
  position: absolute;
  background: #f03e3e;

  box-shadow: 0 0 8px red;

  transition: 1s;
  color: red;
}

.edge:hover {
  animation: none;

  transform: scale(120);
  box-shadow: none;

  transition: 1s linear;
  z-index: 7;
}

.edge--1 {
  height: 10px;
  width: 100px;
  top: 400px;
  left: -9px;
}

.edge--2 {
  height: 10px;
  width: 100px;
  top: 350px;
  left: -9px;
}
.edge--3 {
  height: 10px;
  width: 440px;
  top: 345px;
  left: -49px;
  transform: rotate(-37deg);
}
.edge--4 {
  height: 10px;
  width: 300px;
  top: 220px;
  left: -9px;
  transform: rotate(-120deg);
}
.edge--5 {
  height: 10px;
  width: 330px;
  top: 190px;
  left: -130px;
  transform: rotate(85deg);
}
.edge--6 {
  height: 10px;
  width: 330px;
  top: 100px;
  left: -45px;
  transform: rotate(40deg);
}
.edge--7 {
  height: 10px;
  width: 310px;
  top: 140px;
  left: 150px;
  animation: rotate1 8s linear infinite;
}

.edge--8 {
  height: 10px;
  width: 400px;
  top: 30px;
  left: 70px;
  animation: slide1 9s linear infinite;
}

.edge--9 {
  height: 10px;
  width: 400px;
  top: 20px;
  left: 70px;
  transform: rotate(-15deg);
}
.edge--10 {
  height: 10px;
  width: 400px;
  top: 160px;
  left: 200px;
  transform: rotate(76deg);
}
.edge--11 {
  height: 10px;
  width: 400px;
  top: 300px;
  left: 180px;
  transform: rotate(140deg);
}

/* //safe places// */

.safe_place {
  position: absolute;

  height: 70px;
  width: 70px;
  /* background: #9e9741; */
  backdrop-filter: blur(9px);
  border: 3px solid #d4ca31;
  border-radius: 50%;
  box-shadow: 0 0 10px gold;
  z-index: 5;
}

.safe_place--1 {
  top: 400px;
  left: 100px;
}

.safe_place--2 {
  top: 100px;
  left: 620px;
}

.sp {
  transition-duration: 1s;
}

.sp:hover {
  transform: scale(1.6);
}

.safe_place--start {
  top: 345px;
  left: 0px;

  border: 3px solid #34d431;

  box-shadow: 0 0 10px #34d431;

  animation: 1s linear 1s infinite alternate start;
}

.safe_place--meta {
  font-size: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 300px;
  left: 575px;

  border: 3px solid #3134d4;

  box-shadow: 0 0 10px #3134d4;

  animation: 2s linear 1s infinite alternate start;
}

.safe_place--meta:hover {
  animation: none;
  transform: scale(8);
  font-size: 12px;
  z-index: 11;
  color: #fff;
}

.edge--12 {
  height: 10px;
  width: 80px;
  top: 300px;
  left: 70px;
  transform: rotate(140deg);
  animation: rotate2 3s linear infinite;
}
.edge--13 {
  height: 10px;
  width: 80px;
  top: 450px;
  left: 350px;
  transform: rotate(140deg);
  animation: rotate1 3s linear infinite;
}
.edge--14 {
  height: 10px;
  width: 120px;
  top: 350px;
  left: 350px;
  transform: rotate(140deg);
  animation: rotate2 2s linear infinite;
}
.edge--15 {
  height: 10px;
  width: 300px;
  top: 400px;
  left: 400px;
  transform: rotate(70deg);
}
.edge--16 {
  height: 10px;
  width: 400px;
  top: 220px;
  left: 420px;
  transform: rotate(65deg);
}
.edge--17 {
  height: 10px;
  width: 200px;
  top: 120px;
  left: 400px;
  transform: rotate(140deg);
  animation: rotate1 2s linear infinite;
}
.edge--18 {
  height: 10px;
  width: 500px;
  top: 180px;
  left: 444px;
  transform: rotate(-40deg);
}
.edge--19 {
  height: 10px;
  width: 440px;
  top: 290px;
  left: 750px;
  transform: rotate(50deg);
}

.edge--20 {
  height: 10px;
  width: 250px;
  top: 290px;
  left: 650px;
  transform: rotate(50deg);
  animation: rotate2 4s linear infinite;
}
.edge--21 {
  height: 10px;
  width: 450px;
  top: 150px;
  left: 650px;

  animation: rotate3 8s linear infinite;
}
.edge--22 {
  height: 10px;
  width: 440px;
  top: 450px;
  left: 550px;
  transform: rotate(-10deg);
}

.edge--23 {
  position: absolute;
  border-right: #f03ef0 solid 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  height: 500px;
  width: 1000px;
  top: -6px;

  z-index: 10;

  transform: translateX(-1010px);
}

.container:hover .edge--23 {
  transition-delay: 25s;
  transition-duration: 100s;
  transform: translateX(0px);
}
